body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: poppins;
    src: 
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Italic.ttf') format('truetype'),
        url('../fonts/Poppins-Bold.ttf') format('truetype');
}

h1 {
    font-family: poppins, sans-serif;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    width: 50%;
}

form, input {
    font-family: poppins, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 20em;
    padding: 0.5em;
    margin: 1em;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 1em;
}

button {
    font-family: poppins, sans-serif;
    padding: 1em;
    margin-top: 1em;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 10%;
    border-radius: 0.67em;
    border: none;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #333;
}